.title {
    font-size:100px; 
    color: blue;
}

header {
    display: flex;
    justify-content: center;
}

button {
    background-color: white;
    color: blue;
    padding: 30px 64px;
    border: solid 3px blue;
    border-radius: 20px;
}

.playerInputButtons {
    display: flex;
    justify-content: center;
    gap: 250px;
}

.roundresults {
    display: flex;
    justify-content: center;
}