button {
    background-color: white;
    color: rgb(255, 0, 0);
    padding: 30px 64px;
    border: solid 3px red;
    border-radius: 20px;
}

.playerInputButtons {
    display: flex;
    justify-content: center;
    gap: 250px;
    padding-top: 350px;
}